<header>
  <mat-toolbar color="primary">
    <h1>Dosage Calculator</h1>
  </mat-toolbar>
</header>

<h3>
  Disclaimer: this is untested and unverified and built by someone who does not
  maths, so please do not trust the calculations blindly. If you find any issues
  <s>blame</s> tell Chloe.
</h3>

<div class="container">
  <form [formGroup]="dosageForm" (ngSubmit)="onSubmit()" novalidate>
    <table class="mat-table mat-elevation-z8">
      <ng-content></ng-content>

      <thead>
        <tr class="mat-header-row">
          <th class="mat-header-cell">Dosage needed</th>
          <th
            class="mat-header-cell"
            title="use comma separated values to include multiple available dosage strengths and calculator will return optimum combo"
          >
            Strength available
          </th>
          <th class="mat-header-cell">Frequency</th>
          <th class="mat-header-cell">For N days</th>
          <th class="mat-header-cell">For N weeks</th>
          <th class="mat-header-cell">Remove row</th>
        </tr>
      </thead>

      <tbody>
        <ng-container
          formArrayName="dosages"
          *ngFor="let group of getFormControls.controls; let i = index"
        >
          <tr [formGroupName]="i" class="mat-row">
            <!-- DOSAGE -->
            <td class="mat-cell">
              <mat-form-field>
                <input matInput type="number" formControlName="dosageToTake" />
                <span matSuffix>mg</span>
              </mat-form-field>
            </td>

            <!-- UNIT -->
            <td class="mat-cell">
              <mat-form-field>
                <input matInput type="text" formControlName="dosageUnit" />
                <span matSuffix>mg</span>
              </mat-form-field>
            </td>

            <!-- FREQUENCY -->
            <td class="mat-cell">
              <mat-form-field appearance="fill">
                <mat-select
                  formControlName="frequencyType"
                  (selectionChange)="doseChanged($event, group)"
                >
                  <mat-option
                    *ngFor="let frequencyType of frequencyTypes"
                    [value]="frequencyType"
                  >
                    {{ frequencyType }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>

            <!-- PER DAY -->
            <td class="mat-cell">
              <mat-form-field>
                <input
                  matInput
                  type="number"
                  formControlName="numDaysPerWeek"
                />
                <span matSuffix>/7</span>
              </mat-form-field>
            </td>

            <!-- PER WEEK -->
            <td class="mat-cell">
              <mat-form-field>
                <input
                  matInput
                  type="number"
                  formControlName="numWeeksPerYear"
                />
                <span matSuffix>/52</span>
              </mat-form-field>
            </td>

            <td class="mat-cell">
              <mat-icon class="delete" (click)="deleteRow(i)"
                >delete_forever</mat-icon
              >
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="toDispense !== null">
          <tr class="mat-row">
            <td class="mat-cell" colspan="5">{{ toDispense }}</td>
          </tr></ng-container
        >
      </tbody>
    </table>

    <div class="container">
      <button mat-raised-button type="submit" [disabled]="!dosageForm.valid">
        Calculate dosage required
      </button>
      <button mat-raised-button (click)="addRow()">Add row</button>
      <button
        mat-raised-button
        type="reset"
        (click)="revert()"
        [disabled]="!dosageForm.valid"
      >
        Revert
      </button>
    </div>
  </form>
</div>
