table {
  width: 100%;
}

button {
  margin: 0 8px 8px 0;
}

table {
  width: 100%;
}

.w-75 {
  max-width: 75px;
}

mat-form-field {
  width: 100px;
}

input {
  text-align: right;
}

button {
  margin: 0 8px 8px 0;
}

.container {
  width: 1200px;
  margin: auto;
  padding: 2em 1em 200px 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  form {
    width: 100%;
  }

  table {
    margin-bottom: 2em;
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;

  mat-form-field {
    flex: 1;
  }

  div {
    padding-left: 2em;
  }
}

.strength-suffix {
  padding-left: 1em;
}

tr.canValidate.ng-touched.ng-invalid {
  background: #e51a41;
  transition: all 0.5s ease-in-out;
}

.delete-row {
  margin: 0;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled) mat-icon {
    color: #e51a41;
  }
}

.dosage-input {
  max-width: 300px;
}

/////////////////
table.mat-table {
  border-spacing: 0;
}

tr.mat-header-row {
  height: 56px;
}

tr.mat-row,
tr.mat-footer-row {
  height: 48px;
}

th.mat-header-cell {
  text-align: left;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

th.mat-header-cell:first-child,
td.mat-cell:first-child,
td.mat-footer-cell:first-child {
  padding-left: 24px;
}

th.mat-header-cell:last-child,
td.mat-cell:last-child,
td.mat-footer-cell:last-child {
  padding-right: 24px;
}

td.mat-cell:last-child {
  text-align: center;
}
