<header>
  <mat-toolbar color="primary">
    <h1>Dosage Calculator</h1>
  </mat-toolbar>
</header>

<div class="container">
  <form [formGroup]="dosageForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="btn-container">
      <mat-form-field appearance="outline" class="dosage-input">
        <mat-label>Dosage strengths available</mat-label>
        <input
          matInput
          placeholder="e.g. 25, 150"
          formControlName="dosageUnit"
        />
        <span matSuffix class="strength-suffix">mg</span>
      </mat-form-field>

      <div>
        <button type="button" mat-raised-button (click)="revert()">
          Reset all
        </button>

        <button mat-raised-button type="button" (click)="addRow()">
          Add row to taper dosage
        </button>

        <button mat-raised-button color="primary" type="submit">
          Calculate dosage required
        </button>
      </div>
    </div>

    <table class="mat-table mat-elevation-z8">
      <ng-content></ng-content>

      <thead>
        <tr class="mat-header-row">
          <th class="mat-header-cell">Dosage needed</th>
          <th class="mat-header-cell">Frequency</th>
          <th class="mat-header-cell">For N days</th>
          <th class="mat-header-cell">For N weeks</th>
          <th class="mat-header-cell"></th>
        </tr>
      </thead>

      <tbody>
        <ng-container
          formArrayName="dosages"
          *ngFor="let group of getFormControls.controls; let i = index"
        >
          <tr
            [formGroupName]="i"
            class="mat-row {{
              group.get('dosageToTake').dirty &&
              dosageForm.get('dosageUnit').dirty
                ? 'canValidate'
                : null
            }}"
          >
            <!-- DOSAGE -->
            <td class="mat-cell">
              <mat-form-field>
                <input matInput type="number" formControlName="dosageToTake" />
                <span matSuffix>mg</span>
              </mat-form-field>
            </td>

            <!-- FREQUENCY -->
            <td class="mat-cell">
              <mat-form-field appearance="standard">
                <mat-select
                  formControlName="frequencyType"
                  (selectionChange)="doseChanged($event, group)"
                >
                  <mat-option
                    *ngFor="let frequencyType of frequencyTypes"
                    [value]="frequencyType"
                  >
                    {{ frequencyType }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>

            <!-- PER DAY -->
            <td class="mat-cell">
              <mat-form-field>
                <input
                  matInput
                  type="number"
                  formControlName="numDaysPerWeek"
                />
                <span matSuffix>/7</span>
              </mat-form-field>
            </td>

            <!-- PER WEEK -->
            <td class="mat-cell">
              <mat-form-field>
                <input
                  matInput
                  type="number"
                  formControlName="numWeeksPerYear"
                />
                <span matSuffix>/52</span>
              </mat-form-field>
            </td>

            <td class="mat-cell">
              <button
                class="delete-row"
                (click)="deleteRow(i)"
                [disabled]="i === 0 && getFormControls.controls.length === 1"
              >
                <mat-icon>delete_forever</mat-icon>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <ng-container *ngIf="toDispense">
      <div>
        <h3>To Dispense:</h3>
        <pre>{{ toDispense }}</pre>
      </div>
    </ng-container>

    <ng-container *ngIf="errMessage">
      <p>
        {{ errMessage }}
      </p>
    </ng-container>
  </form>

  <app-calendar [dosages]="calendarDosages"></app-calendar>
</div>
