<form [formGroup]="dosageForm" (ngSubmit)="onSubmit()" novalidate>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-content></ng-content>

    <!-- DOSAGE -->
    <ng-container matColumnDef="dosage">
      <th class="w-75" mat-header-cell *matHeaderCellDef>Dosage needed</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput type="number" formControlName="dosageToTake" />
          <span matSuffix>mg</span>
        </mat-form-field>
      </td>
      <td mat-footer-cell *matFooterCellDef colspan="5">{{ toDispense }}</td>
    </ng-container>

    <!-- UNIT -->
    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef>Strength available</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput type="number" formControlName="dosageUnit" />
          <span matSuffix>mg</span>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- FREQUENCY -->
    <ng-container matColumnDef="frequency">
      <th mat-header-cell *matHeaderCellDef>Frequency</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field appearance="fill">
          <mat-select formControlName="frequencyType">
            <mat-option
              *ngFor="let frequencyType of frequencyTypes"
              [value]="frequencyType"
            >
              {{ frequencyType }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- PER DAY -->
    <ng-container matColumnDef="perDay">
      <th mat-header-cell *matHeaderCellDef>For N days</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input
            matInput
            type="number"
            formControlName="numDaysPerWeek"
            [disabled]="dosageForm.pristine"
          />
          <span matSuffix>/7</span>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- PER WEEK -->
    <ng-container matColumnDef="perWeek">
      <th mat-header-cell *matHeaderCellDef>For N weeks</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput type="number" formControlName="numWeeksPerYear" />
          <span matSuffix>/52</span>
        </mat-form-field>
      </td>
    </ng-container>
  </table>

  <div class="container">
    <button mat-raised-button type="submit" [disabled]="!dosageForm.valid">
      Calculate dosage required
    </button>
    <button
      mat-raised-button
      type="reset"
      (click)="revert()"
      [disabled]="!dosageForm.valid"
    >
      Revert
    </button>
  </div>
</form>
